body {
    background-color: rgb(255, 255, 255);
    font-family: "SUSE", Helvetica, Arial, sans-serif ;
    margin: 0px;
    font-size: 1.25vw;
}

body > header {
    background-color: rgb(81, 131, 223);
    color: azure;
    display: flex;
    align-items: center;
}

#logo {
    margin: 1%;
    height: 12%;
    width: 12%;
}

.ul {
    list-style: none;
    display: flex;
    margin-left: 2%;
    justify-content: space-evenly;
}

.navbutton {
    text-decoration: none;
    color: white;
    padding: 1em;
    margin: 1em;
    border: 1px solid white;
    border-radius: 8%;
    font-size: 130%;
}

#search {
    padding: 1em;
    margin: 1em;
    border-radius: 2%;
    background-color:white ;
    border: 1px solid #5a535328;
    color: white; 
    text-align: center;
    font-size: 130%;
}

main > h2 {
    margin-left: 2%;
    grid-area: title;
}

.filter-button {
    text-decoration: none;
    color: black;
    
    font-size: 130%;
    align-items: start;
    margin-top: 10%;
}

#filter {
    margin-left: 10%;
    grid-area: filter;
}


.ul-filter {
    list-style: none;
    margin-left: 2%;
    padding-left: 0;
}

#messages {
    margin-left: 2%;
    grid-area: messages
}

.message {
    display: grid;
    background-color: #f49fbc;
    border: 1px solid black;
    padding: 2%;
    margin: 2%;
}

#messages a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.507);
    font-size: 120%;
}

#messages p {
    font-size: 130%;
}

#grid-container {
    display: grid;
    grid-template-areas:
    "title filter"
    "messages filter" ;
    grid-template-columns: 9fr 2fr;
    align-items: start;
}

body > footer {
    background-color: rgb(81, 131, 223);
    color: azure;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.foot-ul {
    color: white;
    text-decoration: none;
    padding-left: 3%;
    
}

#footer-ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    
}